<div class="bg-prueba pt-4">
    <div class="row row-style">
        <div class="col-md-4 mx-auto align-self-center">
            <div class="card shadow-lg  mb-5 bg-white rounded">
                <div class="card-header text-center">
                    <img src="img/logo.png" class="w-50" alt=""> 
                    <h5 class="text-success text-style">Reestablecer contraseñas de usuarios</h5>
                </div>
                <div class="card-body">
                    <form action="/reset" method="POST">
                        <div class="form-group">
                            <input type="email" class="form-control" name="username" placeholder="Correo electronico">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-block">Verificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>