<div class="container-fluid p-4 container-reset-password">
    <div class="row row-style">
        <div class="col-md-4 mx-auto align-self-center">
            <div class="card shadow-lg  mb-5 bg-white rounded">
                <div class="card-header text-center">
                    <img src="img/logo.png" class="w-50" alt=""> 
                    <h5 class="text-success text-style">Reestablecer contraseñas de usuarios</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <input type="password" class="form-control" name="pass" placeholder="Ingrese el nuevo password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-block">Reestablecer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>